<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}"/>
  <script src="{% static 'javascript/showDetails.js' %}"></script>
  <script src="{% static 'javascript/sorttable.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
	<script type="text/javascript" class="init">
	

    $(document).ready(function() {
      $('#table_id').DataTable();
    } );
    
    
      </script>
  <title>steplogic_cmdb</title>
</head>
<body class=>
  <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="parent.location='/steplogic'">steplogic</button>
  </div>
  &nbsp;
  <div class="w3-container w3-border">
      {% if sites_list %}
          <table  id="table_id" class="display">
            <thead>
              <tr><th>Site Name</th><th>ELR</th><th>Working Hours</th><th>Service Name</th></tr>
            </thead>
            <tbody> 
          {% for site in sites_list %}
              <tr><td><a href="/steplogic/{{ site.site_name }}/">{{ site.site_name }}</a></td><td>{{ site.elr }}</td><td>{{ site.working_hours }}</td><td>{{ site.service_name }}</td></tr>
          {% endfor %}
           </tbody>
          </table>
      {% else %}
          <p>No sites are available.</p>
      {% endif %}
  </div>
  
</body>
</html>