
<!DOCTYPE html>
<html>
<title>STEOLOGIC CMDB</title>
<meta charset="UTF-8">	
<meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}"/>
  <script src="{% static 'javascript/showDetails.js' %}"></script>
  <script src="{% static 'javascript/sorttable.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
  <script type="text/javascript" language="javascript" src="{% static 'javascript/jquery-3.5.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/datatables.min.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<script type="text/javascript" class="init">

	

    $(document).ready(function() {
      $('#contactstbl').DataTable();
      $('#environmentstbl').DataTable();
      $('#dependantservicestbl').DataTable();
    } );
    
    
      </script>
  <title>steplogic_cmdb</title>	
<link rel="stylesheet" href="{% static 'fonts/raleway/css/raleway.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
	
<div class="w3-bar w3-top w3-large" style="background-color:#FFCC00">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
  <div>
    <span class="title"><img src="{% static 'images/DHL_rgb.png' %}" width="198" height="42" alt=""/></span>
  </div>
 
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
     
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Mike</strong></span><br>      
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
    <a href="/steplogic" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-sitemap fa-fw"></i>&nbsp; Sites</a>
    <a href="/steplogic/environments" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cubes fa-fw"></i>&nbsp; Environments</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>&nbsp; Contacts</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-key fa-fw"></i>&nbsp; Credentials</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-server fa-fw"></i>&nbsp; Servers</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-window-restore fa-fw"></i>&nbsp; Applications</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-database fa-fw"></i>&nbsp; Databases</a>    
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;"  id="sites_id">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-sitemap "></i> {{ site.site_name }}</b></h5>
  </header>

   <div class="w3-container">
    
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#mnusiteinfo">Site Info</a></li>
      <li><a data-toggle="pill" href="#mnucontacts">Contacts</a></li>
      <li><a data-toggle="pill" href="#mnuenv">Environments</a></li>
      <li><a data-toggle="pill" href="#mnudpendantservices">Dependant Services</a></li>
    </ul>
    <br>
    <br>
    <div class="tab-content">
      <!-- SITE INFO -->
      <div id="mnusiteinfo" class="tab-pane fade in active">
        <ul class="w3-ul w3-card-4 w3-white">
              <li class="w3-padding-16">
                <span class="w3-large"><b>Site name:</b> </span><br>
                <ul class="w3-ul w3-card-4 w3-white">
                  <li class="w3-padding-small">
                    <span class="w3-medium">&nbsp;{{ site.site_name }}</span><br>
                  </li>              
                </ul>
              </li>
              
              <li class="w3-padding-16">          
                <span class="w3-large"><b>ELR:</b> </span><br>
                <ul class="w3-ul w3-card-4 w3-white">
                  <liclass="w3-padding-small">
                    <span class="w3-medium">&nbsp;{{ site.elr }}</span><br>
                  </li>              
                </ul>            
              </li>
              <li class="w3-padding-16">            
                <span class="w3-large"><b>Working Hours</b></span><br>
                <ul class="w3-ul w3-card-4 w3-white">
                  <li class="w3-padding-small">
                    <span class="w3-medium">&nbsp;{{ site.working_hours }}</span><br>
                  </li>              
                </ul>            
              </li>
              <li class="w3-padding-16">            
                <span class="w3-large"><b>Service Name:</b></span<br>
                  <ul class="w3-ul w3-card-4 w3-white">
                    <li class="w3-padding-small">
                      <span class="w3-medium">&nbsp;{{ site.service_name }}</span><br>
                    </li>              
                  </ul>              
              </li>          
          </ul>
        </div>
        <!-- CONTACTS -->
        <div id="mnucontacts" class="tab-pane fade">
          <div class="w3-container">
            <table id="contactstbl" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <thead>
                <tr><th>Email</th><th>First Name</th><th>Last Name</th><th>Working Hours</th><th>Contact Type</th></tr>
              </thead>  
              <tbody>
            {% for contact in site.contacts.all %}            
              <tr><td>{{ contact.email }}</td><td>{{ contact.first_name }}</td><td>{{ contact.last_name }}</td><td>{{ contact.working_hours }}</td><td>{{ contact.contact_type }}</td></tr>
            {% endfor %}
              </tbody>
            </table>
         </div>
        </div>  
        <!-- ENVIRONMENTS -->
        <div id="mnuenv" class="tab-pane fade">
          <div class="w3-container">
            <table id="environmentstbl" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <thead>
                <tr><th>Environment Description</th><th>BIG-ip URL</th><th>URL</th><th>environment_type</th></tr>
              </thead>  
              <tbody>
                {% for environment in site.env_set.all %}
                  <tr><td><a href="/steplogic/{{ site.site_name }}/environments/{{ environment.environment_description }}">{{ environment.environment_description }}</a></td><td><a href="{{ environment.bigip_url }}">{{ environment.bigip_url }}</a></td><td><a href="{{ environment.url }}">{{ environment.url }}</a></td><td>{{ environment.get_environment_type_display }}</td></tr>
                {% endfor %}
              </tbody>
            </table>
         </div>
        </div>  
      <!-- DEPENDANT SERVICES -->
      <div id="mnudpendantservices" class="tab-pane fade">
        <div class="w3-container">
          <table id="dependantservicestbl" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
            <thead>
              <tr><th>Service Name</th><th>Service Description</th><th>External Link</th></tr>
            </thead>  
            <tbody>
              {% for service in site.dependent_service.all %}
              <tr><td>{{ service.service_name }}</td><td>{{ service.service_description }}</td><td><a href="{{ service.external_link }}">{{ service.external_link }}</a></td></tr>
              {% endfor %}
            </tbody>
          </table>
       </div>
      </div>        
      </div>  
    </div>
  <hr>
    <hr>

  
  <br>
 
  <!-- Footer -->
 

  <!-- End page content -->
</div>





<script>
  // Get the Sidebar
  var mySidebar = document.getElementById("mySidebar");
  
  // Get the DIV with overlay effect
  var overlayBg = document.getElementById("myOverlay");
  
  // Toggle between showing and hiding the sidebar, and add overlay effect
  function w3_open() {
    
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
      //document.getElementById("sites_id").style.marginLeft = "0%";
      overlayBg.style.display = "none";
    } else {
      //document.getElementById("sites_id").style.marginLeft = "17%";
      mySidebar.style.display = 'block';      
      overlayBg.style.display = "block";
    }
  }
  
  // Close the sidebar with the close button
  function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
  }
  </script>

</body>
</html>