<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}" />
    <script src="{% static 'javascript/showDetails.js' %}"></script>
    <title>{{ site.site_name }} dependent services</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button w3-red" onclick="parent.location='/centiro'">centiro</button>
    </div>
    <div class="w3-bar w3-blue" >
        <button class="w3-bar-item w3-button" onclick="parent.location='/centiro/{{ site.site_name }}'">{{ site.site_name }}</button>
        <button class="w3-bar-item w3-button" onclick="parent.location='/centiro/{{ site.site_name }}/contacts'">Contacts</button>
        <button class="w3-bar-item w3-button" onclick="parent.location='/centiro/{{ site.site_name }}/environment'">Environment</button>
        <button class="w3-bar-item w3-button w3-red" onclick="parent.location='/centiro/{{ site.site_name }}/dependent_service'">Dependent Services</button>
    </div>
    &nbsp;
    <div id="dependent_service" class="w3-container w3-border details" style="display:block">
        <table>
            <tr><th>Service Name</th><th>Service Description</th><th>External Link</th></tr>
        {% for service in site.dependent_service.all %}
            <tr><td>{{ service.service_name }}</td><td>{{ service.service_description }}</td><td><a href="{{ service.external_link }}">{{ service.external_link }}</a></td></tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>    
