<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}" />
    <script src="{% static 'javascript/showDetails.js' %}"></script>
    <title>{{ site.site_name }} environment</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button w3-red" onclick="parent.location='/centiro'">centiro</button>
    </div>
    <div class="w3-bar w3-blue" >
        <button class="w3-bar-item w3-button" onclick="parent.location='/centiro/{{ site.site_name }}'">{{ site.site_name }}</button>
        <button class="w3-bar-item w3-button" onclick="parent.location='/centiro/{{ site.site_name }}/contacts'">Contacts</button>
        <button class="w3-bar-item w3-button w3-red" onclick="parent.location='/centiro/{{ site.site_name }}/environment'">Environment</button>
        <button class="w3-bar-item w3-button" onclick="parent.location='/centiro/{{ site.site_name }}/dependent_service'">Dependent Services</button>
    </div>
    &nbsp;
    <div id="environment" class="w3-container w3-border details" style="display:block">
        <table>
            <tr><th>Environment Description</th><th>BIG-ip URL</th><th>URL</th><th>environment_type</th></tr>
        {% for environment in site.env_set.all %}
            <tr><td><a href="/centiro/{{ site.site_name }}/environment/{{ environment.environment_description }}">{{ environment.environment_description }}</a></td><td><a href="{{ environment.bigip_url }}">{{ environment.bigip_url }}</a></td><td><a href="{{ environment.url }}">{{ environment.url }}</a></td><td>{{ environment.get_environment_type_display }}</td></tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>    
